twisted
service_identity
cython
cymysql
# bouser
# bouser-db
# bouser-ws
# bouser-simargl
# bouser-ezekiel
# bouser-hitsl

git+https://bitbucket.org/hitsl/bouser.git@master#egg=bouser
git+https://bitbucket.org/hitsl/bouser_db.git@master#egg=bouser_db
git+https://bitbucket.org/hitsl/bouser_simargl.git@master#egg=bouser_simargl
git+https://bitbucket.org/hitsl/bouser_ezekiel.git@master#egg=bouser_ezekiel
git+https://bitbucket.org/hitsl/bouser_hitsl.git@master#egg=bouser_hitsl

python2-pythondialog
jinja2